.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #2563eb, #1e3a8a);
}

.auth-box {
  background: white;
  padding: 40px;
  width: 380px;
  border-radius: 12px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.auth-box h2 {
  margin-bottom: 20px;
}

.auth-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  font-weight: 500;
  margin-top: 5px;
}

.divider {
  margin: 20px 0;
  color: #777;
  font-size: 14px;
}

/* OAuth Buttons */
.oauth-btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  border: 1px solid #ddd;
  background: white;
}

.oauth-btn img {
  width: 20px;
}

/* Google */
.oauth-btn.google:hover {
  background: #f5f5f5;
}

/* GitHub */
.oauth-btn.github {
  background: #24292e;
  color: white;
  border: none;
}

.oauth-btn.github:hover {
  background: black;
}

.toggle-text {
  margin-top: 15px;
  color: #2563eb;
  cursor: pointer;
}