.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #2563eb, #1e3a8a);
}

.auth-box {
  background: white;
  padding: 40px;
  width: 380px;
  border-radius: 12px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.auth-box h2 {
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: bold;
}

.auth-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
}

.auth-btn:hover {
  background: #1e40af;
}

.toggle-text {
  margin-top: 15px;
  color: #2563eb;
  cursor: pointer;
  font-size: 14px;
}