/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* Body */
body {
  background-color: #f5f7fb;
  color: #333;
}

/* Buttons */
button {
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
}